<% time = WC.formatDate(startTime) %>

<div class="match">
	<div class="match-game row <%= status !== 'Pre-game' ? 'final' : '' %>" data-id="<%= id %>">
		<div class="col-xs-5 left" style="background-image:url('<%= WC.getFlag(homeTeamId) %>');"><%= homeScore > awayScore ? '<strong>' : '' %><%= WC.getTeam(homeTeamId).name %><%= homeScore > awayScore ? '</strong>' : '' %></div>
		<div class="col-xs-2 center">
			<% if(status !== 'Pre-game') { %>
			<div class="goals"><%= homeScore %> : <%= awayScore %></div>
			<% } else { %>
			<%= time.date %><br><%= time.time %>
			<% } %>
		</div>
		<div class="col-xs-5 right" style="background-image:url('<%= WC.getFlag(awayTeamId) %>');"><%= awayScore > homeScore ? '<strong>' : '' %><%= WC.getTeam(awayTeamId).name %><%= awayScore > homeScore ? '</strong>' : '' %></div>

		<div class="col-xs-12 venue"><%= WC.data.venues[venue] %></div>

		<div class="col-xs-12 time"><%= time.date %> - <%= time.time %></div>
	</div>
</div>