<div class="team<%= losses > 1 ? ' dead' : '' %>" data-id="<%= id %>">
    <img src="<%= logo %>">
    <h2 class="team-name"><%= name %></h2>
	<div class="team-info row">
		<div class="col-xs-6">
			<div><%= group %></div>
			<%= $.i18n('{{plural:$1|group|group}}', 1) %></div>
		<div class="col-xs-6">
			<div><%= groupRank %>ยบ</div>
			<%= $.i18n('ranking') %></div>
	</div>

	<div class="team-stats stats row">
		<div class="col-xs-4 item">
			<div class="list-count"><%= wins %></div>
			<%= $.i18n('{{plural:$1|win|wins}}', wins) %>
		</div>

		<div class="col-xs-4 item">
			<div class="post-count"><%= losses %></div>
		<%= $.i18n('{{plural:$1|loss|losses}}', losses) %>
		</div>

		<div class="col-xs-4 item">
			<div class="post-count"><%= draws %></div>
			<%= $.i18n('{{plural:$1|draw|draws}}', draws) %>
		</div>
	</div>

	<div class="team-goals row">
		<h4 class="col-xs-12">Goals</h4>

		<div class="col-xs-4">
			<svg class="icon"><use xlink:href="#goals-diff"></use></svg> <%= goalsDiff %>
		</div>

		<div class="col-xs-4">
			<svg class="icon"><use xlink:href="#goals-for"></use></svg> <%= goalsFor %>
		</div>

		<div class="col-xs-4">
			<svg class="icon"><use xlink:href="#goals-against"></use></svg> <%= goalsAgainst %>
		</div>
	</div>

	<div class="team-matches">
		<h4>Matches</h4>

		<% _.each(WC.getMatches(id), function (d) { %>

			<%
				var leftId = (id ===  d.homeTeamId ? d.homeTeamId : d.awayTeamId),
					leftScore = (id ===  d.homeTeamId ? d.homeScore : d.awayScore),
					rightId = (id ===  d.homeTeamId ? d.awayTeamId : d.homeTeamId),
					rightScore = (id ===  d.homeTeamId ? d.awayScore : d.homeScore); %>

			<div class="match-game row <%= d.status !== 'Pre-game' ? 'final' : '' %>" data-id="<%= id %>">
				<div class="col-xs-5 left" style="background-image:url('<%= WC.getFlag(leftId) %>');"><%= WC.getTeam(leftId).name %></div>
				<div class="col-xs-2 center">
					<% if(d.status !== 'Pre-game') { %>
					<div class="goals"><%= leftScore %> : <%= rightScore %></div>
					<% } else { %>
					<%= WC.formatDate(d.startTime) %>
					<% } %>
				</div>
				<div class="col-xs-5 right" style="background-image:url('<%= WC.getFlag(rightId) %>');"><%= WC.getTeam(rightId).name %></div>
				<!--<div class="col-xs-12 venue"><%= d.venue.replace(/,.*?\)/, ')') %></div>-->
			</div>
		<% }) %>

	</div>
</div>